body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20221128/pngtree-liquid-fluid-frame-abstract-background-sun-rainbow-cloud-image_1472852.jpg);
    margin-left: 20px;
}
h1{
    display:flex;
    justify-content: center;
    text-align: center;
    font: 80px Arial, sans-serif;
    border: 2px ;
    padding: 0px;
}
.heading{
    color: white;
    -webkit-text-stroke: 2px black;
}
h2{
    font-size: 40px;
}
.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px;
    padding: 10px;
    margin: 10px;
}
button{
    font: Arial, sans-serif;
    font-size:40px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:15px;
    cursor: pointer;
}
#button1, #button2, #button3{
    background-color: white;
    border: 2px;
    border-radius: 10px;

}
img{
    width: 200px;
    height: 200px;
    margin-bottom:10px;
}